<h1>Listing comments</h1>

<%= link_to 'New comment', new_comment_path %>

<table>
  <tr>
    <th>Text</th>
  </tr>

  <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.text %></td>
      <td><%= link_to 'Show', comment_path(comment) %></td>
    </tr>
  <% end %>
</table>
