<section class='top-bar'>
<br/><br/>
</section>


<section class='posts-index-posts'>
    <% @posts.each do |post| %>
      <section class='posts-index-post'>
        <section class='posts-index-post-horizontal'>
          <p class='posts-index-post-user-icon'>
            <%= image_tag("user_icon.png", :alt => "user icon") %>
          </p>
          <p class="posts-index-post-user-name">
            User Name
          </p>
        </section>
        <p class='posts-index-post-message'>
          <%= post.message %>
        </p>
        <p class="posts-index-post-timestamp">
          <%= post.created_at.localtime.strftime('%d-%b-%Y %I:%M:%S %p') %>
        </p>
      </section>
    <% end %>
</section>

<%= link_to new_post_path do %>
  New post
<% end %>
