<section class='top-bar'>
<br/><br/>
</section>


<section class='posts'>
    <% @posts.each do |post| %>
      <section class='post'>
        <p>User Name</p>
        <p><%= post.message %></p>
      </section>
    <% end %>
</section>

<%= link_to new_post_path do %>
  New post
<% end %>
