 body {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
   margin: 0;
 }

 header .navbar {
   height: 40px;
   background-color: #39579A;
   padding: 0px;
 }
 header .navbar .container-fluid {
   width: 85%;
   padding: 0;
   height: 40px;
 }

 header .navbar .navbar-logo {
   line-height: 1;
 }

 header .navbar form.navbar-form {
  width: 30%;
 }

 header .navbar form input.form-control {
  border: 0;
  border-radius: 2px;
  font-weight: 100;
  height: 25px;
  font-size: 14px;
 }

 header .navbar .btn#search {
   background-color: #f6f7f9;
   height: 25px;
   padding: 3px 16px;
 }

 header .navbar ul.nav {
   color: #fff;
 }

 header .navbar ul.nav li a {
  font-size: 13px;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

header .navbar ul.nav li a:hover {
  background-color: #365189;
}

/*Icon Font*/
 @font-face {
   font-family: 'icomoon';
   src:  url('fonts/icomoon.eot?7jqckw');
   src:  url('fonts/icomoon.eot?7jqckw#iefix') format('embedded-opentype'),
     url('fonts/icomoon.ttf?7jqckw') format('truetype'),
     url('fonts/icomoon.woff?7jqckw') format('woff'),
     url('fonts/icomoon.svg?7jqckw#icomoon') format('svg');
   font-weight: normal;
   font-style: normal;
 }

 [class^="icon-"], [class*=" icon-"] {
   /* use !important to prevent issues with browser extensions that change fonts */
   font-family: 'icomoon' !important;
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;

   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

 .icon-friends:before {
   content: "\e900";
   font-size: 20px;
   color: #16233C;
 }
 .icon-messages:before {
   content: "\e901";
   font-size: 20px;
   color: #16233C;
 }
 .icon-notifications:before {
   content: "\e902";
   font-size: 20px;
   color: #16233C;
 }
 .icon-help:before {
   content: "\e903";
   font-size: 20px;
   color: #16233C;
 }
 .icon-world:before {
   content: "\e904";
   font-size: 20px;
   color: #16233C;
 }

 .icon-search:before {
   content: "\e905";
   color: #AFAFAF;
 }
 .icon-logo:before {
   content: "\e906";
   color: #fff;
   font-size: 24px;
 }
