body {
  background-color: #e3e7ed;
}
.posts {
  margin: auto;
  width: 50%;
  border: 2px solid;
  padding: 20px;
  box-shadow: 10px 10px 5px #888888;
  background-color: #ffffff;
}
.post {
  margin: auto;
  margin-bottom: 10px;
  width: 90%;
  border: 2px solid;
  padding: 20px;
  box-shadow: 10px 10px 5px #888888;
  background-color: #ffffff;
}
.post-user-icon {

  width: 10%;
  height: 10%;
  display: inline;
  // transform: scale(0.1);
  // transform-origin: top left;
  // border: 1px solid;
}

.post-user-name {
  display: inline;
  width: 90%;
  height: 10%;
  float: right;
  border: 1px solid;
}
