body {
  background-color: #e3e7ed;
}
.posts {
  margin: auto;
  width: 50%;
  border: 2px solid;
  padding: 20px;
  box-shadow: 10px 10px 5px #888888;
  background-color: #ffffff;
}
.post {
  margin: auto;
  margin-bottom: 10px;
  width: 90%;
  border: 2px solid;
  padding: 20px;
  box-shadow: 10px 10px 5px #888888;
  background-color: #ffffff;
}
