<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <span class="icon-logo"></span>
      <div class="search">
        <form action="/search">
          <input type="text" name="search" value="Search" id="search">
          <button type="submit" id="search_button"><span class="icon-search"></span></button>
        </form>
      </div>
      <nav>
        <ul>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#" id="icon"><span class="icon-friends"></span></a></li>
            <li><a href="#" id="icon"><span class="icon-messages"></span></a></li>
            <li><a href="#" id="icon"><span class="icon-notifications"></span></a></li>
            <li><a href="#" id="icon"><span class="icon-help"></span></a></li>
        </ul>
      </nav>
    </header>
    <section id="main">
    <%= yield %>
    </section>
  </body>
</html>
